.header {
  margin: auto;
  padding-top: 19px;
  padding-bottom: 26px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 1225px;
}

.dates {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 99px;
  flex-grow: 1;
  text-align: center;
}

.date {

  &__title {
    @include font-style(bold);
    color: $light;
  }

  &__desc {
    @include font-style(normal);
    color: $muted;
  }

  &__accent {
    @include accent();
  }
}