.proposals {
  max-width: 297px;
}

.proposals__item {
  border-left: 3px solid $orange;
  padding-left: 16px;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.proposals__subtitle {
  margin-bottom: 16px;
  word-wrap: break-word;
}

.proposals__offer {
  @include font-style(600);
  color: $light;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}