.students {
  align-self: flex-end;
  margin-bottom: 83px;
  position: relative;
  z-index: 1;

  @include respond-to(tablet) {
    position: absolute;
    right: -285px;
  }

  @include respond-to(phone-big) {
    transform: scale(0.7);
    bottom: -130px;
    right: -275px;
  }

  @include respond-to(phone) {
    transform: scale(1);
    bottom: -50px;
    right: -130px;
  }
}

.students__img {
  @include respond-to(phone) {
    width: 236px;
    height: 240px;
  }
}

.students:before {
  content: '';
  display: block;
  background-image: url("../../assets/images/bg-students.png");
  width: 747px;
  height: 615px;
  position: absolute;
  bottom: -10px;
  left: -67px;
  z-index: -1;

  @include respond-to(tablet) {
    display: none;
  }
}