h1 {
  @include font-style(bold, 48px);
  color: $light;

  & .main-title__accent {
    color: $yellow;
  }

  @include respond-to(phone-big) {
    font-size: 24px;
  }
}

h2 {
  @include font-style(bold, 24px);
  color: $light;

  &.subtitle_muted {
    color: $muted;
  }

  @include respond-to(phone-sm) {
    font-size: 20px;
  }
}