h1 {
  @include font-style(bold, 48px);
  color: $light;

  & .main-title__accent {
    color: $yellow;
  }
}

h2 {
  @include font-style(bold, 24px);
  color: $light;

  &.subtitle_muted {
    color: $muted;
  }
}