.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(90deg, #8159C6 0%, #6C7CFF 100%);
  position: relative;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 1225px;
  @include respond-to(laptop-sm) {
    box-sizing: border-box;
    padding: 0 3%;
  }
  @include respond-to(phone) {
    padding: 0 8px;
  }
}

.main {
  margin: auto;
  display: flex;
  flex-grow: 1;
  .container {
    display: flex;
    align-items: normal;
    flex-grow: 1;
  }
}